div [type="epigraph"] {
  margin-top: 3em;
}

#epigraph {
  font-size: 18pt;
  text-align: center;
  display: flex;
  align-items: center;
}

#epigraph_quote {
  font-size: 16pt;
  text-align: right;
}
  
div [type="contents"] {
  margin-top: 3em;
  font-size: 20pt;
}

/* Removes default styling and adds a line */
milestone[rend="horizLine"] {
    display: block;
    width: 85%;
    height: 1px;
    border: none;
    border-top: 1px solid black;
    margin: 1em 1em;
}

#doc_title {
  font-size: 30pt;
  rend: italic;
  font-weight: bold !important;
}

/* Normal state */
a:link {
  color: blue;
  text-decoration: none;
  transition: all 0.3s ease; /* Smooth transition */
}

a:visited {
  color: red;
  text-decoration: none;
}

/* Hover state */
a:hover {
  color: red;
  text-decoration: none;
  background-color: none;
  cursor: pointer;
}

/*
Source - https://stackoverflow.com/a/24993002
Posted by Naveen Web Solutions
Retrieved 2026-03-11, License - CC BY-SA 3.0
*/

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block;height: 200px; width: 200px; overflow: visible; }



