div [type="epigraph"] {
  margin-top: 3em;
}

#epigraph {
  font-size: 18pt;
  text-align: center;
  display: flex;
  align-items: center;
}

#epigraph_quote {
  font-size: 16pt;
  text-align: right;
  display: flex;
  align-items: right;
}
  
div [type="contents"] {
  margin-top: 3em;
  font-sie: 18pt;
}

