div [type="epigraph"] {
  margin-top: 3em;
  padding: 1em;
  border: none;
}

#epigraph {
  font-size: 18pt;
  text-align: center;
  display: flex;
  align-items: center;
}

#epigraph_quote {
  font-size: 16pt;
  text-align: left;
  display: flex;
  align-items: left;
}
  
    

